fastapi
uvicorn[standard]
sqlalchemy[asyncio]
alembic
psycopg2-binary
asyncpg
pydantic-settings
email-validator
python-multipart
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
celery
redis
chromadb
langchain
langchain-openai
langchain-text-splitters
tiktoken
openai
pymupdf
python-docx
boto3
pytest
pytest-asyncio
httpx
